:root {
    --left__side-bg: #2B2B2B;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --button-bg: #505050;
    --rectangle-color: #555555;
    --button-bg__contacts: #767676;
    --feedback-bg: #E5E5E5;
    --cross-bg: #333;
    --feedback-text: #C7C7C7;
}